<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>PAD 桌面</string>
	<key>CFBundleExecutable</key>
	<string>PADDesktop</string>
	<key>CFBundleIdentifier</key>
	<string>cn.ghostcloud.pad.desktop</string>
	<key>CFBundleIconFile</key>
	<string>PADDesktop.icns</string>
	<key>CFBundleName</key>
	<string>PAD 桌面</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.6</string>
	<key>CFBundleVersion</key>
	<string>76</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>PAD Desktop 使用本地网络，让已配对的 iPhone 实时连接这台 Mac。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_pad-remote._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>PAD 桌面</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
</dict>
</plist>
